<span>Welcome</span>


<button type="button" class="btn btn-alert">Primary</button>



<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="https://www.google.com/url?sa=i&url=https%3A%2F%2Fspikeybits.com%2F2017%2F04%2Fgrey-knights-wolves-battle-in-first-war-on-armageddon.html&psig=AOvVaw0z_itClFQ93f-DFyKgoFIX&ust=1627392848668000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCNjDlfrsgPICFQAAAAAdAAAAABAD" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="https://www.google.com/url?sa=i&url=https%3A%2F%2Fspikeybits.com%2F2017%2F04%2Fgrey-knights-wolves-battle-in-first-war-on-armageddon.html&psig=AOvVaw0z_itClFQ93f-DFyKgoFIX&ust=1627392848668000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCNjDlfrsgPICFQAAAAAdAAAAABAD" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="https://www.google.com/url?sa=i&url=https%3A%2F%2Fspikeybits.com%2F2017%2F04%2Fgrey-knights-wolves-battle-in-first-war-on-armageddon.html&psig=AOvVaw0z_itClFQ93f-DFyKgoFIX&ust=1627392848668000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCNjDlfrsgPICFQAAAAAdAAAAABAD" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel>
